<% include ../partials/header %>


<h1>Register yourselves</h1>

<form action="/register" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username">


    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password..">

    <!-- <label for="password2">Enter password again</label>
    <input type="password" name="password2" placeholder="Reenter password.."> -->

    <button type="submit">Login</button>

</form>

<% include ../partials/footer %>
