<% include partials/header %>

<div class="container">
        <header class="jumbotron">
            <div class="container">
                    <h2>Welcome to YelpCamps!</h2>
                    <p>The best campsite review website on the planet!</p>
                    <p>
                           <a class="btn btn-primary" href="/campgrounds" >
                               View campgrounds
                           </a>
                           <a class="btn btn-primary" href="/campgrounds/register" >
                               New Campground
                           </a>
                           
                    </p>
    
            </div>
           
           </header>
           
</div>


<% include partials/footer %>